/* main */
/* reset */
* {
  margin: 0;
  padding: 0; }

p, h1, h2, h3, h4, h5, h6 {
  line-height: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: inherit; }

/* core */
.push-1 {
  margin-top: 12px; }

.push-2 {
  margin-top: 24px; }

.push-3 {
  margin-top: 36px; }

.push-4 {
  margin-top: 48px; }

.push-6 {
  margin-top: 72px; }

.push-8 {
  margin-top: 96px; }

.push-10 {
  margin-top: 120px; }

.push-11 {
  margin-top: 132px; }

.push-12 {
  margin-top: 144px; }

.push-15 {
  margin-top: 180px; }

.postersize {
  display: block;
  position: relative;
  padding-top: 150%;
  height: 0; }
  .postersize > * {
    position: absolute;
    top: 45%;
    width: 100%; }

.postersize-2 {
  padding-top: 400%; }

.postersize-3 {
  padding-top: 240%; }

.main {
  max-width: 920px;
  margin-left: auto;
  margin-right: auto; }

html {
  background: #1B1C1B;
  color: #FFFFF8; }

footer {
  margin-top: 100px; }

/* typography */
html {
  font-family: 'Clear Sans';
  font-size: 16px;
  line-height: 24px; }

a {
  color: inherit;
  opacity: 0.8;
  text-decoration: none; }
  a:focus {
    opacity: 1; }
  a:hover {
    opacity: 1; }
  .t a, .h a, a.h {
    text-decoration: underline; }
    .t a:hover, .h a:hover, a.h:hover {
      text-decoration: none; }

dl dt {
  margin-top: 0.5em;
  opacity: 0.5;
  font-size: 14px;
  line-height: 1; }
dl dl {
  line-height: 1.2; }

/* Text */
.t p,
p.t {
  font-weight: 300; }

.t {
  font-size: 16px;
  max-width: 33em; }
  .t small, .t code, .t sub, .t sup {
    font-size: 0.8125em;
    line-height: 1; }

/* Heading */
.tera, .t h1, .t h1 {
  text-align: center; }

.giga, .t h2, .t h2,
.mega,
.t h3, .t h3,
.kilo,
.t h4, .t h4,
.hecto,
.t h5, .t h5,
.deca,
.t h6, .t h6 {
  text-align: left; }

.tera, .t h1,
.giga,
.t h2,
.mega,
.t h3,
.kilo,
.t h4,
.hecto,
.t h5,
.deca,
.t h6 {
  display: block; }

p.t,
.t p {
  font-size: 16px;
  line-height: 24px;
  margin-top: 0; }

.t.pad {
  padding-top: 5px;
  padding-bottom: 7px; }

.tera, .t h1 {
  font-size: 68px;
  line-height: 72px;
  font-weight: 300; }
  .tera.pad, .t h1 {
    padding-top: 8px;
    padding-bottom: 4px; }
  .tera.space, .t h1 {
    margin-top: 30px;
    margin-bottom: 6px; }

.giga, .t h2 {
  font-size: 47px;
  line-height: 48px;
  font-weight: 300; }
  .giga.pad, .t h2 {
    padding-top: 4px;
    padding-bottom: 8px; }
  .giga.space, .t h2 {
    margin-top: 42px;
    margin-bottom: 6px; }

.mega, .t h3 {
  font-size: 34px;
  line-height: 36px;
  font-weight: 300; }
  .mega.pad, .t h3 {
    padding-top: 3px;
    padding-bottom: 9px; }
  .mega.space, .t h3 {
    margin-top: 42px;
    margin-bottom: 6px; }

.kilo, .t h4 {
  font-size: 26px;
  line-height: 24px;
  font-weight: 300; }
  .kilo.pad, .t h4 {
    padding-top: 7px;
    padding-bottom: 5px; }
  .kilo.space, .t h4 {
    margin-top: 30px;
    margin-bottom: 6px; }

.hecto, .t h5 {
  font-size: 21px;
  line-height: 24px;
  font-weight: 400; }
  .hecto.pad, .t h5 {
    padding-top: 9px;
    padding-bottom: 3px; }
  .hecto.space, .t h5 {
    margin-top: 30px;
    margin-bottom: 6px; }

.deca, .t h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500; }
  .deca.pad, .t h6 {
    padding-top: 10px;
    padding-bottom: 2px; }
  .deca.space, .t h6 {
    margin-top: 30px;
    margin-bottom: 6px; }

.t blockquote {
  font-size: 21px;
  line-height: 24px;
  padding-top: 9px;
  padding-bottom: 3px;
  margin-top: 12px;
  margin-bottom: 12px;
  max-width: 416px;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.t pre code {
  background-color: rgba(168, 168, 168, 0.1);
  display: block;
  font-size: 14px;
  line-height: 24px;
  padding: 6px 12px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 12px;
  margin-bottom: 12px;
  tab-size: 4;
  word-break: break-word; }

.t--right {
  text-align: right; }

.t--center {
  text-align: center; }

/* grid */
.grid:before, .grid:after {
  content: '';
  display: table; }
.grid:after {
  clear: both; }

.grid--gutter > .col {
  padding-left: 16px;
  padding-right: 16px; }
.grid--gutter.col {
  padding-left: 0;
  padding-right: 0; }

.col {
  float: left;
  box-sizing: border-box; }

.col--gutter {
  padding-left: 16px;
  padding-right: 16px; }

.col--right {
  float: right; }

.w-12 {
  width: 100%; }

.w-11 {
  width: 91.666%; }

.w-10 {
  width: 83.333%; }

.w-9 {
  width: 75%; }

.w-8 {
  width: 66.666%; }

.w-7 {
  width: 58.333%; }

.w-6 {
  width: 50%; }

.w-5 {
  width: 41.666%; }

.w-4 {
  width: 33.333%; }

.w-3 {
  width: 25%; }

.w-2 {
  width: 16.666%; }

.w-1 {
  width: 8.333%; }

/* modules */
/* header */
.header {
  max-width: 920px;
  margin-left: auto;
  margin-right: auto; }

.header__logo a {
  display: block; }

/* elements */
/* inputs */
.input {
  font-family: inherit; }

.input--text {
  -webkit-appearance: none;
  border: none;
  display: block;
  width: 100%;
  background: transparent;
  color: inherit;
  border-bottom: 1px solid transparent;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-bottom: -7px;
  margin-top: -6px; }
  .input--text.mega, .t h3.input--text {
    height: 36px;
    line-height: 1; }
  .input--text::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.8;
    padding-top: inherit;
    padding-bottom: inherit;
    line-height: inherit;
    vertical-align: inherit; }
  .input--text:hover {
    border-bottom-color: rgba(168, 168, 168, 0.2); }
    .input--text:hover::-webkit-input-placeholder {
      opacity: 1; }
  .input--text:focus {
    border-bottom-color: rgba(168, 168, 168, 0.5);
    outline: none; }
    .input--text:focus::-webkit-input-placeholder {
      color: rgba(168, 168, 168, 0.5); }

/* media */
.media {
  line-height: 0; }
  .media img {
    max-width: 100%; }

.media--rounded {
  overflow: hidden;
  border-radius: 2px; }

.media--pop {
  box-shadow: 0 1px 3px rgba(10, 7, 6, 0.2); }

/* nav-list */
.nav-list {
  list-style: none; }

.nav-list__item a {
  display: block; }

/* block-link */
.block-link {
  display: block; }

/* buttons */
.btn-wrap {
  display: inline-block; }

.btn {
  cursor: pointer; }

.btn--subtle {
  opacity: 0.4; }
