/* common */
.mark-water{
    color:#bbb;
}
/* eof common */

/* node */
.node-content-wrapper, .node-container {
    font-family: 'Consolas', sans-serif;
    font-size: 10px;
    background-color:#162A40;
    line-height: 14px;
}

.node-content-wrapper ul{
    border-left:1px dotted #2F3F72;
    list-style:none;
    padding-left:15px;
    margin:0px;
    color:#DECCD0;
}
.node-content-wrapper ul li{
    list-style:none;
    border-bottom:0;
    padding-bottom:0
}
.node-hgl-path{
    background-color:#fefbdf;
}
.node-bracket{
    color:#DECCD0;
    font-weight:bold;
    font-size: 10px;
    display:inline-block;
    cursor:pointer;
}
.node-bracket:hover{
    color:#999;
}
/* eof node */

/* leaf */
.leaft-container{
    width:100%;
    max-width:300px;
    height:100%;
}

.title{ color:#DECCFF;}
.string{ color:#080;}
.number{ color:#ccaa00;}
.boolean{ color:#1979d3;}
.date{ color:#aa6655;}
.null{ color:#ff5050;}
/* eof leaf */
