{
  "app": {
    "name": "Project Name Here"
  },
  "server": {
    "host": "127.0.0.1",
    "port": 3020,
    "socketTimeoutSec": 30
  },
  "api": {
    "host": "127.0.0.1",
    "port": 3000
  },
  "auth": {
    "tokenUrl":"/token",
    "clientId":"rosecombClient",
    "secret":"superSecret"
  },
  "aws": {
    "accessKeyId": "",
    "secretAccessKey": "",
    "region": ""
  },
  "logging": {
    "enabled": true,
    "path": "./log",
    "filename": "rosecomb",
    "extension": "log",
    "accessLog": {
      "enabled": true,
      "fileRotationPeriod": "1d",
      "fileRetentionCount": 14,
      "kinesisStream": ""
    },
    "sentry": {
      "enabled": false,
      "dsn": ""
    }
  },
  "headers": {
    "useGzipCompression": true,
    "cacheControl": {
      "text/css": "public, max-age=86400",
      "text/javascript": "public, max-age=86400",
      "application/javascript": "public, max-age=86400"
    }
  },
  "caching": {
    "ttl": 300,
    "directory": {
      "enabled": true,
      "path": "./cache/rosecomb/",
      "extension": "html"
    },
    "redis": {
      "enabled": false,
      "host": "empire.qvhlji.ng.0001.euw1.cache.amazonaws.com",
      "port": 6379
    }
  },
  "global" : {
    "baseUrl": "http://www.example.com"
  },
  "dust": {
    "cache": true,
    "debug": false,
    "debugLevel": "INFO",
    "whitespace": false
  },
  "rewrites": {
    "datasource": "rewrites",
    "path": "",
    "forceTrailingSlash": false
  },
  "debug": false,
  "allowJsonView": false
}
