{
    "app": {
        "name": "Bantam / Rosecomb"
    },
    "logging": {
        "enabled": true,
        "level": "STAGE",
        "path": "./log",
        "filename": "rosecomb",
        "dateFormat": "",
        "extension": "log",
        "messageFormat": "<%= label %> - <%= date %> - <%= message %>"
    },
    "caching": {
        "enabled": true,
        "ttl": 300,
        "directory": "./cache/rosecomb/",
        "extension": "html"
    },
    "server": {
        "host": "127.0.0.1",
        "port": 3020
    },
    "api": {
        "host": "127.0.0.1",
        "port": 3000
    },
    "auth": {
        "tokenUrl":"/token",
        "clientId":"rosecombClient",
        "secret":"superSecret"
    },
    "global" : {
        "baseUrl": "http://www.example.com"
    },
    "dust": {
        "cache": true,
        "debug": false,
        "debugLevel": "INFO",
        "whitespace": false
    }
}
